
body {
    background-image: url('../images/crossline-dots.png');
}

.container {
    background: white
}

panel{
	width: 100%;
}

.panel-body {
    color:black;
}
.jumbotron{
	background-color: lightseagreen;
	color: #eeeecc;
	padding-top: 1%;
	padding-bottom: 2%;
}

.panel-heading{
    padding-top: 0.25%;
    color: seagreen;
}

h1 img {
    width: 10%;
    margin: 10px;
}